<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="JiaYing(Fiona) Lin" />
    <meta name="robot" content="index, follow" />
    <base target="_self" />
    <meta name="descirption" content="" />
    <title><%=djs.name%> - (<%=djs.sys.country%>)</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <h1>This is <%= djs.name %>'s weather right now.</h1>
    <table>
      <tr>
        <td>Main Weather</td>
        <td><%= djs.weather[0].main%></td>
      </tr>
      <tr>
        <td>Weather Desciptions</td>
        <td><%= djs.weather[0].description %></td>
      </tr>
      <tr>
        <td>Temperature</td>
        <td><%= newTemp %></td>
      </tr>
    </table>
  </body>
</html>
